.widget-custom {
  margin: 10px;
}
.widget-body {
  height: 230px;
  width: 100%;
  border: 1px solid #337ab7;
  border-radius: 5px;
  transition: width 0.75s, height 0.5s;
}

.widget-big-body {
  height: 480px;
  width: 104%;
  border: 1px solid #337ab7;
  transition: width 0.75s, height 0.5s;
}

h5 {
  margin-left: 5px;
}

.widget-header {
  height: 40px;
  margin: 0 auto;
  border-bottom: 1px solid #337ab7;
}

.widget-list {
  display: flex;
  width: 113%;
  flex-wrap: wrap;
}

.expand-btn {
  margin: 0 !important;
  padding: 3px;
  margin-top: 5px !important;
  width: 50px;
}

.chosen-widget-body {
  padding: 45px;
}

@media screen and (max-width: 600px) {
  .expand-btn {
    margin: -20px !important;
    padding: 3px;
    margin-top: -5px !important;
    width: 35px;
  }

  h5 {
    font-size: 12px;
    margin-left: 0;
  }

  .chosen-widget-body {
    padding: 0;
  }

  .text-right {
    text-align: left !important;
  }
}
